<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
		{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
		{% endfor %}
        <div>
            <p>published: 08.06.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post. Nice to see you here.</p>
		</div>

        <div>
            <p>published: 09.06.2014, 02:59</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my first post. Nice to see you here.Will talk about my recent trip in my next blog.</p>
        </div>
    </body>
</html>